/* Insight Sidebar */
.insight-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 350px !important;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.95);
    font-family: 'Roboto', sans-serif !important;
    border-left: 1px solid #444;
    border-radius: 10px 0 0 10px;
    padding: 20px;
    overflow-y: auto;
    z-index: 99999;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

/* Sidebar Header Styling */
.insight-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 2em !important;
    font-weight: bold;
    color: #ffffff;
    border-bottom: 2px solid #205e22;
    padding-bottom: 10px;
}

/* Sidebar Content Styling */
.insight-box-container {
    font-size: 1.0em !important;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.insight-text {
    margin: 0;
    text-align: left;
}

#analysisContainer {
    padding-bottom: 40px;
}

/* Spinner Styling */
#loadingSpinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.insight-spinner {
    width: 50px;
    height: 50px;
    border: 4px solid #ffffff;
    border-top: 4px solid #205e22;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.insight-sidebar p:hover {
    background-color: #35383a;
}

/* Close Button Styling */
.insight-close-btn {
    float: right;
    margin: 5px;
    background: none;
    border: none;
    font-size: 1.5em;
    color: #205e22;
    cursor: pointer;
    transition: color 0.3s ease;
}

.insight-close-btn:hover {
    color: #f44336;
}