/* Bubble Styling */
#defineBubble,
#factCheckBubble,
#analysisBubble {
    position: absolute;
    background-color: rgba(20, 20, 20, 0.95);
    border: 1px 1px solid #444;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10000;
    color: #ffffff;
    max-width: 250px;
    cursor: pointer;
    transition: opacity 0.2s;
    display: block;
}

.bubble-title {
    font-weight: bold;
    font-size: 16px;
    border-bottom: 2px solid #205e22
}

.bubble-content {
    font-size: 14px;
    margin-top: 10px;
    align-content: center;
}

#defineCheckBubble:hover,
#factCheckBubble:hover,
#analysisBubble:hover {
    cursor: pointer;
    opacity: 0.9;
}

/* Footer Styling */
.bubble-footer {
    text-align: center;
    font-size: 0.7em;
    color: #bbb;
    margin-top: 20px;
    padding-top: 10px;
}

/* Analyze Button Styling */
#analyzeButton {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #205e22;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s box-shadow 0.3s;
    outline: none;
    margin-top: 10px;
  }

#analyzeButton:hover {
  background-color: #205e10;
  transform: scale(1.02);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

#analyzeButton:focus{
  outline: 2px solid #205e22;
}